<h2>Hello World</h2>
<p>This is the content of the furst page.</p>

<div>
  <label for="server">Server:</label>
  <input type="text" id="server" name="server" value="<%= server %>">
</div>
<div>
  <label for="method">Method:</label>
  <select id="method" name="method">
    <option value="GET" <%=method==='GET' ? 'selected' : '' %>>GET</option>
    <option value="POST" <%=method==='POST' ? 'selected' : '' %>>POST</option>
    <!-- Add more methods as needed -->
  </select>
</div>
<div>
  <label for="path">Path:</label>
  <input type="text" id="path" name="path" value="<%= path %>">
</div>
<div>
  <label for="secondbody">Body:</label>
  <textarea id="secondbody" name="secondbody" rows="4" cols="50"><%= secondbody %></textarea>
</div>
<input type="submit" value="Make Request">
<div>
  <h2>Response:</h2>
  <pre><%= response %></pre>
</div>